spring:
  application:
    name: "northwind"
  config:
    activate:
      on-profile: dev
  datasource:
    url: "jdbc:postgresql://${DB_IP:localhost}:${DB_PORT:5432}/northwind"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.redisson.hibernate.RedissonRegionFactory
          redisson:
            config: src/main/resources/redisson.yaml

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 1

  cache:
    type: redis
    redis:
      time-to-live: 10m
      cache-null-values: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,caches
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.training.security: DEBUG
    org.springframework.security: DEBUG

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXP}
  refresh-expiration: ${REF_EXP}

---